<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/temp/nLog.log">
  <!--  ASP.NET Core 使用 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="true">
    <!-- 全部日志文件 -->
    <!--<target xsi:type="File" name="allfile" encoding="utf-8" fileName="${logDirectory}/systemlog.log"
                layout="${longdate}  ${message}"/>-->
    <!-- 自定义记录的日志文件 -->
    <target xsi:type="File" name="SystemErrorLog"  fileName="logs/Global/${shortdate}.log"
            layout="${longdate}   ${message}" />
    <target xsi:type="ColoredConsole" name="ErrorConsole"  layout="${longdate} ${message}"/>
    <target xsi:type="Console" name="Console"  layout="${longdate} ${message}"/>
  </targets>
  <rules>
    <!--所括asp.net core下的全部日志-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->
    <!--仅自定义记录的日志文件-->
    <logger name="ErrorLog" levels="Error" writeTo="SystemErrorLog,ErrorConsole" />
    <logger name="InfoLog" levels="Info" writeTo="Console" />
  </rules>
</nlog>